name: golangci-lint
on: [push]

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'

      - run: mkdir -p web/dist
      - run: touch web/dist/testfile

      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout 3m --verbose
