name: golangci-lint
on: [push]

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'
      - run: mkdir -p web/dist
      - run: touch web/dist/testfile
      - uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout 3m --verbose
